<extend name="Base:base"/>
<block name="css_link">
    <style>
        .databox.databox-xxxlg{
            height: auto;
        }
        .databox-top.bg-white{
            height:300px;;
        }
        .databox .databox-cell{
            padding:5px
        }
        .databox.databox-vertical .databox-top{
            height:auto;;
        }
        .databox.databox-vertical{
            height: auto;
        }
    </style>
</block>
<block name="main">
    <div class="row">
        <div class="profile-container">
            <div class="profile-header row">
                <div class="col-lg-2 col-md-4 col-sm-12 text-center">

                    <switch name="{session('rank')}" >
                        <case value="值1" break="0或1">
                            <img src="__PUBLIC__/assets/img/avatars/divyia.jpg" alt="" class="header-avatar" />
                        </case>
                        <case value="值2">
                            <img src="__PUBLIC__/assets/img/avatars/divyia.jpg" alt="" class="header-avatar" />
                        </case>
                        <default />
                            <img src="__PUBLIC__/assets/img/avatars/divyia.jpg" alt="" class="header-avatar" />
                    </switch>
                </div>
                <div class="col-lg-5 col-md-8 col-sm-12 profile-info">
                    <div class="header-fullname">外国语小学 1班</div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 profile-stats">
                    <div class="row">
                        <div class="databox radius-bordered databox-shadowed databox-vertical" style="margin-bottom:0">
                            <div class="databox-top no-padding ">
                                <div class="databox-row">
                                    <div class="databox-cell cell-6 text-align-center bg-sky">
                                        <span class="databox-number">5214 / 70%</span>
                                        <span class="databox-text">学区生</span>
                                    </div>
                                    <div class="databox-cell cell-6 text-align-center bg-azure">
                                        <span class="databox-number">2214 / 30%</span>
                                        <span class="databox-text">统筹生</span>
                                    </div>
                                </div>
                            </div>
                            <div class="databox-bottom">
                                <span class="databox-text">学区生</span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar progress-bar-azure" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                <span class="sr-only">
                                    20% Complete
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 inlinestats-col">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="glyphicon glyphicon-map-marker"></i>
                            录取时间为：2016-05-04开始，截至2016-05-15结束。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <div class="databox databox-xxxlg databox-shadowed radius-bordered">
                <div class="databox-top bg-white ">
                    <div class="databox-row row-2 padding-10">
                        <span class="databox-number darkorange no-margin">学生录取情况</span>
                        <span class="databox-text carbon no-margin">ALL STUDENT</span>
                    </div>
                    <div class="databox-row row-9">
                        <div id="pie-chart-enroll" class="chart" style="height:100%;">
                        </div>
                        <div class="flot-donut-caption">
                            <span class="databox-number sonic-silver no-margin">31514</span>
                            <span class="databox-text sonic-silver  no-margin">总学生数</span>
                        </div>
                    </div>
                </div>
                <div class="databox-bottom no-padding bg-white bordered bordered-platinum">
                    <div class="databox-row row-12 no-padding">
                        <div class="databox-cell cell-4 text-align-center bg-yellow">
                            <span class="databox-number no-margin">50%</span>
                            <span class="databox-text no-margin">公办</span>
                        </div>
                        <div class="databox-cell cell-4 text-align-center bg-orange">
                            <span class="databox-number no-margin">20%</span>
                            <span class="databox-text no-margin">民办</span>
                        </div>
                        <div class="databox-cell cell-4 text-align-center bg-darkorange">
                            <span class="databox-number no-margin">30%</span>
                            <span class="databox-text no-margin">未录取</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js_link">
    <script>
        //Pie Chart Weather
        var data = [
            { data: [[1, 50]], color: '#ffce55' },
            { data: [[1, 20]], color: '#e46f61' },
            { data: [[1, 30]], color: '#ed4e2a' },
        ];
        var placeholder = $("#pie-chart-enroll");
        placeholder.unbind();

        $.plot(placeholder, data, {
            series: {
                pie: {
                    innerRadius: 0.80,
                    show: true,
                    gradient: {
                        radial: true,
                        colors: [
                            { opacity: 1.0 },
                            { opacity: 1.0 },
                            { opacity: 1.0 },
                        ]
                    }
                }
            }
        });
    </script>
</block>