@media (max-width: 330px) {
    .mail-container .mail-body .mail-list .list-item {
        height: 38px;
    }
}

@media (max-width: 330px) {
    .mail-container .mail-body .mail-list .list-item>div.item-subject {
        line-height: 0px;
        margin-top: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 330px) {
    .mail-container .mail-body .mail-list .list-item>div.item-sender {
        left: 2%;
    }
}

@media (max-width: 999px) {
    .mail-container .mail-body .mail-list .list-item>div.item-subject {
        top: 19px;
        left: 96px;
    }
}


@media (max-width: 990px) {
    .mail-container .mail-body .mail-list .list-item {
        height: 38px;
    }
}

@media (max-width: 990px) {
    .mail-container .mail-body .mail-list .list-item>div.item-subject {
        line-height: 0px;
        margin-top: 0px;
    }
}

@media (max-width: 990px) {
    .mail-container .mail-body .mail-list .list-item>div.item-sender {
        left: 2%;
    }
}

/*头像显示位置设置*/
@media screen and (max-width:600px){
    .mail-container .mail-sidebar {
        display: block;
        width: 15%;
        height: 15%;
        min-height: 15%;
        left: 184px;
    }
    img {
        width: 70px!important;
        height: 70px;
    }
}


.table-hover tbody tr td:first-child {
    min-width: 100px;
}
