<extend name="Base:base" />
<block name="css_link">
    <link href="__PUBLIC__/assets/css/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="__PUBLIC__/Admin/student/css/look_student_info.css" rel="stylesheet"/>
</block>
<block name="main">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header ">
                    <span class="widget-caption">{$route}</span>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="table-toolbar">
                        <div class="panel-group accordion" id="accordion" style="margin-bottom: 8px;">
                            <div class="panel panel-default">
                                <div class="panel-heading ">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#collapseOne">
                                            <i class="fa fa-search"></i> 高级搜索
                                        </a>
                                    </h4>
                                </div>

                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <label>生源类型：</label>
                                        <select id="origin_type">
                                            <option value="">全部</option>
                                            <option value="0">学区生</option>
                                            <option value="1">统筹生</option>
                                            <option value="2">调剂生</option>
                                        </select>
                                        <button id="seek" type="button" class="btn btn-primary" style="padding: 7px; margin-top: -3px;">
                                            <i class="fa fa-search"></i>搜索
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-toolbar operation">
                        <div class="btn-group">
                            <a type="button" id="export" class="btn btn-default" href="{:U('Enter/pub_studnet_info_export')}?type=4">
                                <i class="fa fa-download"></i>导出
                            </a>
                        </div>
                    </div>
                    <table class="table table-striped table-hover table-bordered" id="student_info">
                        <thead>
                        <tr role="row">
                            <th>
                                序号
                            </th>
                            <th>
                                学籍号码
                            </th>
                            <th>
                                学生姓名
                            </th>
                            <th>
                                性别
                            </th>
                            <th>
                                生源类型
                            </th>
                            <th>
                                毕业小学
                            </th>
                            <th>
                                民办学校
                            </th>
                            <th>
                                民办状态
                            </th>
                            <th>
                                分配学校
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <foreach name="data" item="vo" key="k">
                            <tr>
                                <td>
                                    {$k + 1}
                                </td>
                                <td>
                                    {$vo.sid_num}
                                </td>
                                <td>
                                    <a href="{:U('Register/student')}?student={$vo.sid}">{$vo['stu_name']}</a>
                                </td>
                                <td>
                                    <if condition="$vo.sex == 0 ">男<else /> 女</if>
                                </td>
                                <td class="center ">
                                    <if condition="$vo.origin == 0">学区生
                                        <elseif condition="$vo.origin == 1"/>统筹生
                                        <elseif condition="$vo.status == 3"/>调剂生
                                    </if>
                                </td>
                                <td class="center ">
                                    <if condition="($vo.drank == '' or $vo.drank == 1)">{$vo.original_school}
                                        <else/>{$vo.oname}
                                    </if>
                                </td>
                                <td class="center ">
                                    <if condition="($vo.civil_name == '')">无
                                        <else/>{$vo.civil_name}
                                    </if>
                                </td>
                                <td class="center ">
                                    <if condition="($vo.civil_status == 1) and ($vo.lot_release == 1)">派中
                                        <elseif condition="($vo.civil_status == 2) and ($vo.civil_release == 1)" />录取
                                        <elseif condition="($vo.civil_status == 3) and ($vo.civil_release == 1)" />退回
                                        <elseif condition="($vo.civil_status == 4) and ($vo.civil_release == 1)" />未派中
                                        <elseif condition="($vo.sch_name == '')" />无
                                        <else/>等待
                                    </if>
                                </td>
                                <td class="center ">
                                    <if condition="($vo.assign_name == '')">无
                                        <else/>{$vo.assign_name}
                                    </if>
                                </td>
                                <td class="center ">
                                    <if condition="($vo.pub_status == 1) and ($vo.pub_release == 1)">同意
                                        <elseif condition="($vo.pub_status == 2) and ($vo.pub_release == 1)" />拒绝
                                        <elseif condition="($vo.civil_status == 2) and ($vo.civil_release == 1)" />--
                                        <elseif condition="($vo.civil_status == 1) and ($vo.civil_release == 1)" />--
                                        <elseif condition="($vo.sch_name == '')" />--
                                        <else/>等待
                                    </if>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <input type="hidden" data-area='{$organization}' id="present_url" value="">
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js_link">
    <script src="__PUBLIC__/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/assets/js/datetime/moment.js"></script>
    <script src="__PUBLIC__/assets/js/datetime/daterangepicker.js"></script>
    <script>
        $(function(){
            var present_url = $("#present_url").val();
            var activity_end = set_data_table("student_info");//实例化表
            var table = activity_end;//当前操作的表
            function set_data_table(table){
                var table = $('#'+table).DataTable({
                    "sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
                    "language": {
                        "search": "",
                        "sLengthMenu": "_MENU_",
                    },
                    "oLanguage":{
                        "sZeroRecords" : "没有您要搜索的内容",
                        "sSearch" : "",
                        "oPaginate": {
                            "sPrevious": "<",
                            "sNext": ">",
                        }
                    },
                    "infoCallback": pageInfo
                });
                return table;
            }
            $("#export").click(function(){
                var count = table.rows().data().length;
                if(count <= 0){
                    alert_info('warning',"提示","没有任何数据");
                    return false;
                }
            })
            $("#school_district,#school,#class").change(function(){
                $(this).val();
            })

            $("#seek").click(function(){
                var origin_tyep = $("#origin_type");
                var type = origin_tyep.get(0).value
                var present_url = "{:U('Enter/pubreginfo')}";
                if(type == ""){
                    window.location.href=present_url;
                }else{
                    window.location.href=present_url +'?type='+type;
                }

            })

            function getUrlParam(name)
            {
                var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                var r = window.location.search.substr(1).match(reg);  //匹配目标参数
                if (r!=null) return unescape(r[2]); return null; //返回参数值
            }

            function getSelect(){
                var type = getUrlParam('type');
                if(type == null ||type == ""){
                    return;
                }
                var collapseOne = $("#collapseOne");
                collapseOne.addClass('in');
                var origin_tyep = $("#origin_type");
                type++;
                $(origin_tyep[0][type]).attr('selected',true);
            }
            getSelect();
        })
    </script>
</block>